* {
    margin: 0;
}

pre {
    max-width: 300px;
    padding: 10px;
    border: 1px solid grey;
    background-color: lightgray;
}

.post {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 16px;
}

.post button {
    max-width: 180px;
}
